
logs/

backups/

journeymap/

TombManyGraves/

asm/

MEutilities/

screenshots/

local/client/

\.mixin\.out/

valkyrielib/

woot/

ResourceCache/

/saves

/downloads

/resourcepacks

\.curseclient

options\.txt

crash-reports/

usercache\.json

usernamecache\.json

patchouli_data\.json

minecraftinstance\.json

ops\.json

whitelist\.json

server-icon\.png

scripts/*.zsrc

config/jei/**

mods/

*.log

*.dll

*.dat

*.py

*.dump

*.csv

*.html

*.cache

\.ReAuth\.cfg

crafttweaker_dump/

scripts/Python/

background\.png

config\.json

manifest\.json

backups\.json

imgui\.ini

hei_bookmarks\.ini

assetmover/

dynmap/
visualores/
config/dynmap.cfg
config/dynmapblockscan.cfg
