# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        15
        8
        0
        1
        98
        0
        20
        98
        111
        116
        97
        110
        105
        97
        37
        51
        65
        109
        97
        110
        97
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        4
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        53
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        73
        -54
        47
        73
        -52
        -53
        76
        4
        -14
        115
        19
        -13
        18
        -45
        115
        18
        -117
        -117
        -19
        25
        24
        20
        -2
        19
        0
        0
        -19
        -127
        45
        99
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        15
        8
        0
        1
        98
        0
        20
        98
        111
        116
        97
        110
        105
        97
        37
        51
        65
        109
        97
        110
        97
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        34
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        64
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        73
        -54
        47
        73
        -52
        -53
        76
        4
        -14
        115
        19
        -13
        18
        -45
        115
        18
        -117
        -117
        -19
        25
        24
        26
        88
        26
        24
        112
        -61
        -1
        -1
        -15
        -55
        -114
        -54
        15
        7
        121
        0
        71
        88
        -91
        -57
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        15
        8
        0
        1
        98
        0
        20
        98
        111
        116
        97
        110
        105
        97
        37
        51
        65
        109
        97
        110
        97
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        8
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        54
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        73
        -54
        47
        73
        -52
        -53
        76
        4
        -14
        115
        19
        -13
        18
        -45
        115
        18
        -117
        -117
        -19
        25
        30
        48
        43
        -4
        39
        0
        0
        25
        -7
        46
        70
        0
        0
     >
    I:3 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        18
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        16
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        47
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        66
        22
        73
        -49
        73
        44
        46
        -74
        103
        96
        104
        96
        97
        96
        28
        -123
        35
        25
        2
        0
        104
        -35
        14
        35
        0
        0
     >
    I:4 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        18
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        8
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        44
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        66
        22
        73
        -49
        73
        44
        46
        -74
        103
        120
        -64
        -84
        -16
        -97
        0
        0
        0
        -27
        103
        45
        -126
        0
        0
     >
    I:5 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        18
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        32
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        47
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        66
        22
        73
        -49
        73
        44
        46
        -74
        103
        96
        104
        96
        105
        96
        24
        -123
        35
        25
        2
        0
        -16
        78
        -115
        35
        0
        0
     >
    I:6 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        18
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        4
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        43
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        66
        22
        73
        -49
        73
        44
        46
        -74
        103
        96
        80
        -8
        79
        0
        0
        0
        -71
        -62
        44
        -97
        0
        0
     >
    I:7 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        31
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        59
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        71
        22
        41
        46
        -55
        -49
        75
        -75
        47
        75
        44
        -54
        76
        -52
        43
        -79
        5
        -13
        24
        24
        26
        88
        -2
        -113
        -126
        -63
        11
        -2
        -47
        94
        30
        0
        86
        16
        16
        -76
        0
        0
     >
    I:8 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        114
        97
        115
        115
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        3
        0
        1
        115
        0
        0
        0
        47
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        58
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        104
        96
        -7
        -49
        48
        10
        71
        50
        4
        0
        99
        -15
        16
        -53
        0
        0
     >
    I:9 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        114
        97
        115
        115
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        104
        96
        -7
        63
        10
        6
        22
        124
        64
        -125
        116
        -106
        7
        0
        -21
        -45
        13
        -6
        0
        0
     >
}


