# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        114
        97
        115
        115
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        3
        0
        1
        115
        0
        0
        0
        47
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        58
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        104
        96
        -7
        -49
        48
        10
        71
        50
        4
        0
        99
        -15
        16
        -53
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        114
        97
        115
        115
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        104
        96
        -7
        63
        10
        6
        22
        124
        64
        -125
        116
        -106
        7
        0
        -21
        -45
        13
        -6
        0
        0
     >
}


